<div class="container">
    <reminder-alert [remainingExpos]="noExposArt"></reminder-alert>
    <navigation-bar></navigation-bar>
    <div class="lists-container" *ngIf="!viewMode">
      <div class="lists">
        <div class="expo-list">
          <!-- Art!!!!!!!!!!!!! -->
          <p class="title art">Art</p>
          <div class="expo-container">
            <!-- red -->
            <div *ngFor="let expo of sortedExpos">
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'art' &&
                  !notExpired(expo.expiration_date) &&
                  !expo.completed
                "
              >
                <p class="expo-name red">{{ expo.name }}</p>
  
                <div class="second-row">
                  <span class="due-date red"
                    >Closing date:
                    <span class="date-color red">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    Visited
                    <img src="../../../assets/icons/done-icon.png" />
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    Unvisited
                    <img src="../../../assets/icons/x-icon.png" />
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    Delete <img src="../../../assets/icons/bin-icon.png" />
                  </button>
                </div>
              </div>
              <!-- green -->
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'art' &&
                  notExpired(expo.expiration_date) &&
                  expo.completed
                "
              >
                <p class="expo-name green">{{ expo.name }}</p>
                <div class="second-row">
                  <span class="due-date green"
                    >Done date:
                    <span class="date-color green">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'art' &&
                  notExpired(expo.expiration_date) &&
                  !expo.completed
                "
              >
                <p class="expo-name">{{ expo.name }}</p>
                <div class="second-row">
                  <span class="due-date"
                    >Done date:
                    <span class="date-color">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <div
              *ngIf="noExposArt == 0"
              class="no-expos-text art-zero-expos"
            >
              Looks like you have no art galleries added. Do you plan on visiting one?
              <img
                (click)="goToAddExpo()"
                src="../../../assets/icons/plus-icon.png"
                class="add-icon art-expo-button"
              />
            </div>
          </div>
        </div>
  
        <div class="expo-list">
          <!-- Photography!!!!!!!!!!!!! -->
          <p class="title photo">Photography</p>
          <div class="expo-container">
            <div *ngFor="let expo of sortedExpos">
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'photo' &&
                  !notExpired(expo.expiration_date) &&
                  !expo.completed
                "
              >
                <p class="expo-name red">{{ expo.name }}</p>
                <div class="second-row">
                  <span class="due-date red"
                    >Done date:
                    <span class="date-color red">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
              <!-- visited -->
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'photo' &&
                  notExpired(expo.expiration_date) &&
                  expo.completed
                "
              >
                <p class="expo-name green">{{ expo.name }}</p>
                <div class="second-row green">
                  <span class="due-date green"
                    >Done date:
                    <span class="date-color green">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
  
                <div class="epxo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'photo' &&
                  notExpired(expo.expiration_date) &&
                  !expo.completed
                "
              >
                <p class="expo-name">{{ expo.name }}</p>
                <div class="second-row">
                  <span class="due-date"
                    >Done date:
                    <span class="date-color">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />Delete
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="noExposPhoto == 0" class="no-expos-text photo-zero-expos">
                Looks like you have no photography galleries added. Do you plan on visiting one?
              <img
                (click)="goToAddExpo()"
                src="../../../assets/icons/plus-icon.png"
                class="add-icon photo-expo-button"
              />
            </div>
          </div>
        </div>
  
        <div class="expo-list">
          <!-- Other!!!!!!!!!!!!! -->
          <p class="title other">Other</p>
          <div class="expo-container">
            <div *ngFor="let expo of sortedExpos">
              <!-- red -->
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'other' &&
                  !notExpired(expo.expiration_date) &&
                  !expo.completed
                "
              >
                <p class="expo-name red">{{ expo.name }}</p>
                <div class="second-row">
                  <span class="due-date red"
                    >Done date:
                    <span class="date-color red">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
              <!-- green -->
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'other' &&
                  notExpired(expo.expiration_date) &&
                  expo.completed
                "
              >
                <p class="expo-name green">{{ expo.name }}</p>
                <div class="second-row">
                  <span class="due-date green"
                    >Done date:
                    <span class="date-color green">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
              <div
                class="expo-card"
                *ngIf="
                  expo.label == 'other' &&
                  notExpired(expo.expiration_date) &&
                  !expo.completed
                "
              >
                <p class="expo-name">{{ expo.name }}</p>
  
                <div class="second-row">
                  <span class="due-date"
                    >Done date:
                    <span class="date-color">{{
                      expo.expiration_date
                    }}</span></span
                  >
                  <img
                    (click)="goToViewMode(expo)"
                    class="eye-icon"
                    style="cursor: pointer"
                    src="../../../assets/icons/eye-icon.png"
                  />
                </div>
                <div class="expo-buttons">
                  <button
                    class="completed-button"
                    *ngIf="!expo.completed"
                    (click)="MarkCompleted(expo)"
                  >
                    <img src="../../../assets/icons/done-icon.png" />
                    Visited
                  </button>
                  <button
                    class="unfinished-button"
                    *ngIf="expo.completed"
                    (click)="MarkNotCompleted(expo)"
                  >
                    <img src="../../../assets/icons/x-icon.png" />
                    Unvisited
                  </button>
                  <button class="delete-button" (click)="DeleteExpo(expo)">
                    <img src="../../../assets/icons/bin-icon.png" />
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="noExposOther == 0" class="no-expos-text other-zero-expos">
                Looks like you have no other events added. Do you plan on visiting one?
              <img
                (click)="goToAddExpo()"
                src="../../../assets/icons/plus-icon.png"
                class="add-icon other-expo-button"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- View Expo Details -->
    <div class="view-container" *ngIf="viewMode">
      <div class="first-container">
        <div class="second-container">
          <div class="content-container">
            <div class="left-section">
              <div class="field">
                <div class="view-title">
                  <div class="image">
                    <img src="../../../assets/icons/title-icon.png" />
                  </div>
                  <span class="title-text">Name</span>
                </div>
                <p class="expo-data name">{{ viewExpo.name }}</p>
              </div>
  
              <div class="field">
                <div class="view-title">
                  <div class="image">
                    <img src="../../../assets/icons/info-icon.png" />
                  </div>
                  <span class="title-text">Description</span>
                </div>
  
                <textarea rows="4" cols="50" readonly>{{
                  viewExpo.description
                }}</textarea>
              </div>
            </div>
            <div class="right-section">
              <div class="field">
                <div class="view-title">
                  <div class="image">
                    <img src="../../../assets/icons/label-icon.png" />
                  </div>
                  <span class="title-text">Label</span>
                </div>
                <p class="expo-data">{{ viewExpo.label }}</p>
              </div>
  
              <div class="field">
                <div class="view-title">
                  <div class="image">
                    <img src="../../../assets/icons/date-icon.png" />
                  </div>
                  <span class="title-text">Done Date</span>
                </div>
                <div class="date">
                  <p class="expo-data">{{ viewExpo.expiration_date }}</p>
                </div>
              </div>
              <div class="view-buttons-container">
                
                <button class="second-button" (click)="returnAllExposPage()">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>