$color-green: #245e34;
$color-light-green: #90d6a1;
$color-light-grey: #b0b1b0;
$color-medium-light-grey: #8f928f;
$color-medium-grey: #707070;
$color-grey: #d6d7d6;
$color-dark-light-grey: #1e1e1e;
$color-dark-grey: #121212;
$color-black: #000000;
$color-white: #ffffff;
$color-light-red: #de8484;
$color-red: #0f0e0e;
$color-green: #91da91;
$color-dark-green: #2dc345;